h2 {
    font-size: 1.3em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #ccc;
    display: inline-block;
}

label {
    display: block;
    font-weight: bold;
    padding-bottom: 0.2em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 0.7em 1.2em;
    border: 2px solid #ccc;
    border-radius: 0.2em;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: orange;
}

input[type="text"]:user-invalid,
input[type="email"]:user-invalid,
input[type="password"]:user-invalid {
    border-color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.field input:required ~ label::after {
    content: '*';
    color: red;
    margin-left: 0.3em;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    order: -1;
}

form button {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 100vw;
    max-width: 25em;
}