div {
    width: 300px;
    padding: 20px;
    border: solid 5px #333;
    margin-bottom: 20px;
    background: #eee;
}

.content-box {
    box-sizing: content-box;
}

.border-box {
    box-sizing: border-box;
}