* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, html {
    font: 16px/1.5 "Candara Light", sans-serif;
    background-color: #ffeeee;
    font-size: clamp(12px, 1.5vw, 14px);
}

.container {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    margin: 3em auto 0;
}

.main {
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    border-radius: 0.4em;
    position: relative;
}

.main p {
    max-width: 35ch;
}

.main span {
    position: absolute;
    background-color: orange;
    padding: 1em 1.5em;
    border-radius: 0.4em;
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;
}
