/* Общи стилове за мобилни устройства */
@media screen and (max-width: 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
    }

    .home-stat {
        margin-top: 500px;
    }
}
