.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

fieldset {
    padding: 1em;
}

fieldset legend {
    padding: 0 0.5em;
}

fieldset p:not(:last-child) {
    padding-bottom: 1.5em;
}

fieldset p {
    display: flex;
    align-items: center;
}

fieldset input {
    border-color: red;
}

input[type="radio"] {
    margin-right: 0.5em;
    appearance: none;
    border: 2px solid darkorange;
    background-color: #e5761e;
    border-radius: 50%;
    width: 2em;
    aspect-ratio: 1/1;
    position: relative;
    cursor: pointer;
}

input[type="radio"]:checked::after {
    position: absolute;
    display: block;
    content: '';
    inset: 0.1em;
    background: white;
    border-radius: inherit;
}

input[type="checkbox"] {
    margin-right: 0.5em;
    appearance: none;
    border: 2px solid darkorange;
    background-color: #e5761e;
    border-radius: 5em;
    width: 3em;
    aspect-ratio: 2/1;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::after {
    position: absolute;
    display: block;
    content: '';
    width: 1.2em;
    border: 2px solid darkorange;
    top: 50%;
    translate: 0 -50%;
    aspect-ratio: 1/1;
    background: white;
    border-radius: inherit;
}

input[type="checkbox"]:checked::after {
    left: 306%;
    background-color: greenyellow;
}
